{{# each products}}
    product is here !!
{{/each}}


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://bazaarvietnam.vn/wp-content/uploads/2020/09/thoi-trang-ao-digital-wear-dress-x-corset-Alena-Akhmadullina.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class="description">
                        mat hang moi 
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Gia: 12.000.000d</div>
                <div>
                    <a href="#" class="btn btn-success pull-right">Button</a>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://media-fmplus.cdn.vccloud.vn/uploads/tin-tuc/bai-tin-tuc/Th%E1%BB%9Di%20trang%20%E1%BA%A3o%20xu%20h%C6%B0%E1%BB%9Bng%20th%E1%BB%9Di%20trang%20trong%20th%E1%BB%9Di%20%C4%91%E1%BA%A1i%20k%E1%BB%B9%20thu%E1%BA%ADt%20s%E1%BB%91/thoi-trang-ao-xu-huong-thoi-trang-trong-thoi-dai-ky-thuat-so-h4.webp" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class="description">
                        mat hang moi 
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Gia: 12.000.000d</div>
                <div>
                    <a href="#" class="btn btn-success pull-right">Button</a>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://bazaarvietnam.vn/wp-content/uploads/2020/09/thoi-trang-ao-digital-wear-dress-x-corset-Alena-Akhmadullina.jpg" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class="description">
                        mat hang moi 
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Gia: 12.000.000d</div>
                <div>
                    <a href="#" class="btn btn-success pull-right">Button</a>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://media-fmplus.cdn.vccloud.vn/uploads/tin-tuc/bai-tin-tuc/Th%E1%BB%9Di%20trang%20%E1%BA%A3o%20xu%20h%C6%B0%E1%BB%9Bng%20th%E1%BB%9Di%20trang%20trong%20th%E1%BB%9Di%20%C4%91%E1%BA%A1i%20k%E1%BB%B9%20thu%E1%BA%ADt%20s%E1%BB%91/thoi-trang-ao-xu-huong-thoi-trang-trong-thoi-dai-ky-thuat-so-h4.webp" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class="description">
                        mat hang moi 
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Gia: 12.000.000d</div>
                <div>
                    <a href="#" class="btn btn-success pull-right">Button</a>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    
</div>