<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://lh6.googleusercontent.com/xr1tWQ0zigU8mFvMGfMmW2oiX9yinGbn8LaRLMHnPXvsh7Bg1ABs2Tk8ZfAoQMv6mPw9Id-iaSB1zuU5UTJmCcnTybFvdiaC-EHxrdTbRmNJT22y1tmSb5rE1--xKXg3TrmwO2z3" alt="..." class="img-responsive">
            <div class="caption">
                <h3>thumbnail label</h3>
                <p>
                    <div class="description">
                        hang moi nhat
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">So tien: 12.000.000d</div>
                    <div><a href="#" class="btn btn-success pull-right">Button</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
