<header>
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dich-vu">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gioi-thieu">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gio-hang">
                              Cart<span *ngIf="cartQuantity">{{cartQuantity}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/lien-he">Contact</a>
                        </li>
                        <li class="nav-item" *ngIf="!isAuth">
                            <a class="nav-link" routerLink="/login">LOGIN</a>
                        </li>
                        <li class="nav-item active">
                            <p class="nav-link" *ngIf='!user'>Hello guest ! </p>
                            <p class="nav-link" *ngIf='user'>Hello {{user.firstName}}</p>
                        </li>
                        <button type="button" class="btn btn-danger" (click)='logout()' *ngIf='user'>Logout</button>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div id="costum_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1 class="furniture_text">FURNITURE ONLINE</h1>
                            <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some fo</p>
                            <div class="contact_bt_main">
                                <div class="contact_bt"><a routerLink="/lien-he">Contact Us</a></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- header section end -->
</header>


<div class="container">
    <router-outlet></router-outlet>
</div>


<footer>
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">INFORMATION</h1>
                    <p class="footer_lorem_text">There are many variat ions of passages of L orem Ipsum available , but the majority h ave suffered altera tion in some form, by
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">LET US HELP YOU</h1>
                    <p class="footer_lorem_text">There are many variat ions of passages of L orem Ipsum available , but the majority h ave suffered altera tion in some form, by
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">UseFul Links</h1>
                    <p class="footer_lorem_text1">About Us<br> Careers
                        <br> Sell on shopee<br> Press & News<br> Competitions
                        <br> Terms & Conditions
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h1 class="customer_text">OUR Design</h1>
                    <p class="footer_lorem_text">There are many variat ions of passages of L orem Ipsum available , but the majority h ave suffered altera tion in some form, by
                    </p>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
                </div>
            </div>
        </div>
    </div>
    <!--  footer section end -->

</footer>