<app-title title="Cart Shop" margin="1.5rem 0 0 2.5rem"></app-title>

<div class="container">
    <ul>
        <li *ngFor="let itemcart of cart.items">
            <div>
                <img [src]="itemcart.product.image" [alt]="itemcart.product.product_name">
            </div>
            <div>
                <a routerLink="/product/{{itemcart.product.product_id}}">
                {{itemcart.product.product_name}}
            </a>
            </div>
            <div>
                <select #quantitySelect [value]="itemcart.quantity" (change)="changeQuantity(itemcart, quantitySelect.value)">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
            </div>
            <div>
                {{itemcart.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(itemcart)">
                Remove
            </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="product-count">{{cart.totalCount}}</div>
            <div class="total-price">{{cart.totalPrice|currency}}</div>
        </div>

        <a routerLink="/checkout">Proceed to Check out</a>
    </div>
</div>