.list-group>.list-group-item {
    display: inline-flex!important;
}

.list-group-item>p {
    margin: 15px 60px 0 60px;
}

.list-group>.list-group-item>.badge {
    font-weight: 200;
    margin-top: 15px;
}

.list-group-item>img {
    height: 50px;
}

.list-group-item>#closeBtn {
    position: absolute;
    right: 5px;
    font-size: 30px;
    top: 25px;
}

#endOfCart>p {
    margin: 0;
}