<div class="container py-2">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 login-form mx-auto">
                    <!-- form card login -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form #myLoginForm='ngForm' class="form-inline" *ngIf='!user'>
                                <label>
                                    <input class="form-control" type="email" name='email' placeholder="Email" required minlength='4' #emailInput='ngModel'
                                        [(ngModel)]='loginForm.email' email='true'>
                                    <mat-error *ngIf="emailInput.errors?.required && emailInput.touched">Missing Email</mat-error>
                                    <mat-error *ngIf="emailInput.errors?.email && emailInput.touched">Enter valid email !</mat-error>
                                </label>
                                <label>
                                    <input class="form-control" type="password" name='password' placeholder="Password" required minlength='4'
                                        #passwordInput='ngModel' [(ngModel)]='loginForm.password'>
                                    <mat-error *ngIf="passwordInput.errors?.required && passwordInput.touched">Missing password</mat-error>
                                    <mat-error *ngIf="passwordInput.errors?.minlength && passwordInput.touched">Password too short
                                    </mat-error>
                                </label>
                                <button type="button" class="btn btn-light" [disabled]="myLoginForm.form.invalid" (click)='login()'>Login</button>
                                <a routerLink="/register">
                                    <button type="button" class="btn btn-dark">Register</button>
                                </a>
                            </form>
                        </div>
                        <!--/card-block-->

                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>