<!--  design section start -->
<div class="design_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <app-search></app-search>
        <app-category></app-category>
        <ul>
            <li *ngFor="let product of products">
                <a routerLink="/product/{{product.product_id}}">
                    <img [src]="product.image" [alt]="product.product_name" />
                    <div class="content">
                        <div class="name">
                            {{product.product_name}}
                        </div>
                        <div class="category">
                            <a *ngFor="let category_name of product.category_na" routerLink="/category/{{category_name}}">
                                {{category_name}}
                            </a>
                        </div>
                        <div class="price">
                            <span>
                        {{product.price | currency}}
                     </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="read_bt"><a href="#">Read More</a></div>
    </div>
</div>
<!--  design section end -->