<!DOCTYPE html>
<html>
  <head>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" media="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/6.x/css/fontawesome.min.css">
    
    <title>{{title}}</title>
    
  </head>
  <body>
    {{header}}

    <div class="container">
      {{{body}}}
    </div>
    

    
    
    <!-- Latest compiled and minified JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/<script src="//code.jquery.com/jquery.js"></script>/js/bootstrap.min.js"></script>

  </body>
</html>
